.banner {
    background-image: url(static/theater-image-background.png);    
    background-size: cover;
}

.flexbox-container {

}

.flexbox-item {
    width: 200px;
    margin: 10px;
    background-color: darkgray;
    border: 1px solid red;

}